In [50]:
# Import required libraries into the jupyter notebook

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra

Beginning Code blocks to do the things I want it to do

In [51]:
# Step to read in weather data and pizza data csv files from the data directory
weather_file = pd.read_csv("data/alexandria_weather_data.csv")
pizza_file = pd.read_csv("data/alexandria_pizza_data.csv")

# This will receive warnings. I could have selected only the columns I needed, but cleaning data is a part of the assignment and I will do that in cells below.

C:\Users\r736153\AppData\Local\Temp\ipykernel_15560\3460422497.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  pizza_file = pd.read_csv("data/alexandria_pizza_data.csv")

In [52]:
# Display head of weather file to show successful read of file
weather_file.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,41001,3/1/2021,55,32,42,55.0,23.9,35.3,28.8,62.0,...,12.9,6,NaN,2021-03-01T07:09:32,2021-03-01T18:30:39,0.58,"Rain, Partially cloudy",Clearing in the afternoon with early morning r...,rain,"KI69,KLUK,E5157,72421093814,KCVG,72429793812,A..."
1,41001,3/2/2021,44,24,33,44.4,16.6,28.6,16.5,52.2,...,17.1,7,NaN,2021-03-02T07:08:04,2021-03-02T18:31:42,0.62,Clear,Clear conditions throughout the day.,clear-day,"KI69,F8613,KLUK,E5157,72421093814,KCVG,7242979..."
2,41001,3/3/2021,62,27,44,62.1,22.7,42.2,26.6,54.2,...,16.6,7,NaN,2021-03-03T07:06:36,2021-03-03T18:32:45,0.65,Clear,Clear conditions throughout the day.,clear-day,"KI69,F8613,KLUK,E5157,72421093814,KCVG,7242979..."
3,41001,3/4/2021,52,30,41,51.9,23.2,36.7,25.9,57.3,...,16.9,7,NaN,2021-03-04T07:05:07,2021-03-04T18:33:47,0.69,Clear,Clear conditions throughout the day.,clear-day,"KI69,F8613,KLUK,E5157,72421093814,KCVG,7242979..."
4,41001,3/5/2021,47,25,35,42.2,18.4,31.0,18.9,54.5,...,17.2,7,NaN,2021-03-05T07:03:38,2021-03-05T18:34:50,0.75,Clear,Clear conditions throughout the day.,clear-day,"KI69,KLUK,E5157,72421093814,KCVG,72429793812,A..."

In [53]:
# Diesply head of pizza date file to show successful read of file
pizza_file.head()

,BusDate,DayofWeek,OrderID,OtotSubTotal,OrdServiceType,OrdVoidDate,OrdTaxExemptID,OrdOnlineOrderID,PmtType
0,3/1/2021,Monday,3,19.60,1,NaN,NaN,NaN,3
1,3/1/2021,Monday,2,20.74,3,NaN,NaN,NaN,3
2,3/1/2021,Monday,5,20.97,1,NaN,NaN,NaN,3
3,3/1/2021,Monday,6,9.99,1,NaN,NaN,NaN,3
4,3/1/2021,Monday,10,26.27,1,NaN,NaN,NaN,3

In [54]:
# Cleaning data ahead of the merge since there were column warnings above

pizza_file.drop('OrdVoidDate',axis=1,inplace=True)
pizza_file.drop('OrdTaxExemptID',axis=1,inplace=True)
pizza_file.drop('OrdOnlineOrderID',axis=1,inplace=True)
pizza_file.drop('PmtType',axis=1,inplace=True)

pizza_file.head()

    BusDate DayofWeek  OrderID  OtotSubTotal  OrdServiceType
0  3/1/2021    Monday        3         19.60               1
1  3/1/2021    Monday        2         20.74               3
2  3/1/2021    Monday        5         20.97               1
3  3/1/2021    Monday        6          9.99               1
4  3/1/2021    Monday       10         26.27               1

In [55]:
# Joining both files into one data element to begin analysis

left = pizza_file.set_index('BusDate')
right = weather_file.set_index('datetime')

combined_dataset = left.join(right, lsuffix='_p', rsuffix="_w")
combined_dataset.head()

,DayofWeek,OrderID,OtotSubTotal,OrdServiceType,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
BusDate,,,,,,,,,,,,,,,,,,,,,
1/1/2022,Saturday,2,19.74,3,41001,65,52,57,64.6,52.1,...,0.8,0,NaN,2022-01-01T07:56:28,2022-01-01T17:26:10,0.96,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"KI69,KLUK,CRIK2,72421093814,KCVG,72429793812,A..."
1/1/2022,Saturday,3,17.99,3,41001,65,52,57,64.6,52.1,...,0.8,0,NaN,2022-01-01T07:56:28,2022-01-01T17:26:10,0.96,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"KI69,KLUK,CRIK2,72421093814,KCVG,72429793812,A..."
1/1/2022,Saturday,4,33.98,3,41001,65,52,57,64.6,52.1,...,0.8,0,NaN,2022-01-01T07:56:28,2022-01-01T17:26:10,0.96,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"KI69,KLUK,CRIK2,72421093814,KCVG,72429793812,A..."
1/1/2022,Saturday,5,46.51,1,41001,65,52,57,64.6,52.1,...,0.8,0,NaN,2022-01-01T07:56:28,2022-01-01T17:26:10,0.96,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"KI69,KLUK,CRIK2,72421093814,KCVG,72429793812,A..."
1/1/2022,Saturday,6,12.00,1,41001,65,52,57,64.6,52.1,...,0.8,0,NaN,2022-01-01T07:56:28,2022-01-01T17:26:10,0.96,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"KI69,KLUK,CRIK2,72421093814,KCVG,72429793812,A..."

In [56]:
# This cell will be used to try to sample the data and show various counts

orders_per_avgtemp = combined_dataset.temp.value_counts()
orders_per_avgtemp

temp
 69    3611
 71    3323
 70    2970
 73    2969
 76    2879
       ...
 15     204
 14     124
-1       76
 21      58
 23      56
Name: count, Length: 69, dtype: int64

In [57]:
# This cell will be used to try to sample the data and show various counts

orders_per_maxtemp = combined_dataset.tempmax.value_counts()
orders_per_maxtemp

tempmax
82    3473
83    3260
84    3133
78    2923
75    2748
      ...
17     138
24     128
29     128
30     119
14      76
Name: count, Length: 72, dtype: int64

In [58]:
# This cell will be used to try to sample the data and show various counts

orders_per_mintemp = combined_dataset.tempmin.value_counts()
orders_per_mintemp

tempmin
 59    3101
 62    2932
 57    2871
 70    2722
 64    2453
       ...
 10     138
 76     132
 3      124
-7       76
 6       66
Name: count, Length: 69, dtype: int64

In [60]:
# This cell will be used to try to sample the data and show various counts

orders_per_day = combined_dataset.DayofWeek.value_counts()
orders_per_day

DayofWeek
Friday       20113
Saturday     18462
Sunday       13451
Thursday     11603
Wednesday    10712
Tuesday       9945
Monday        9200
Name: count, dtype: int64